n8n_workflow_firebase.json
{
  "name": "Pós-Vendas WhatsApp - Firebase",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://firestore.googleapis.com/v1/projects/pos-vendas-app/databases/(default)/documents:runQuery",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"structuredQuery\": {\n    \"from\": [\n      {\n        \"collectionId\": \"vendas\"\n      }\n    ],\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"status\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"stringValue\": \"pendente\"\n        }\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1392,
        1552
      ],
      "id": "b128312b-3cbc-49f0-9293-b9cc88e707bd",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "Jft5FQiCc5y1nEm1",
          "name": "Auth ML API"
        },
        "googleApi": {
          "id": "Vod0HAtaFdgaKp79",
          "name": "Firebase Intimus Mel"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "c7acf5cd-9465-41b5-9306-5979ebd0e5d2",
      "name": "Agendar 9h Diariamente",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1616,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "// Processar resposta do Firebase\nconst items = [];\nconst input = $input.all();\n\nconsole.log('Input recebido:', JSON.stringify(input, null, 2));\n\nfor (const item of input) {\n  const data = item.json;\n  \n  // Verificar se é array diretamente\n  if (Array.isArray(data)) {\n    for (const doc of data) {\n      if (doc.document && doc.document.fields) {\n        const fields = doc.document.fields;\n        \n        items.push({\n          json: {\n            vendaId: doc.document.name.split('/').pop(),\n            clienteId: fields.clienteId?.stringValue || '',\n            provou: fields.provou?.booleanValue || false,\n            valorTotal: parseInt(fields.valorTotal?.integerValue || 0),\n            observacoes: fields.observacoes?.stringValue || '',\n          }\n        });\n      }\n    }\n  }\n  // Se vier como objeto com document\n  else if (data.document && data.document.fields) {\n    const fields = data.document.fields;\n    \n    items.push({\n      json: {\n        vendaId: data.document.name.split('/').pop(),\n        clienteId: fields.clienteId?.stringValue || '',\n        provou: fields.provou?.booleanValue || false,\n        valorTotal: parseInt(fields.valorTotal?.integerValue || 0),\n        observacoes: fields.observacoes?.stringValue || '',\n      }\n    });\n  }\n  // Se vier direto com fields\n  else if (data.fields) {\n    const fields = data.fields;\n    \n    items.push({\n      json: {\n        vendaId: data.name?.split('/').pop() || '',\n        clienteId: fields.clienteId?.stringValue || '',\n        provou: fields.provou?.booleanValue || false,\n        valorTotal: parseInt(fields.valorTotal?.integerValue || 0),\n        observacoes: fields.observacoes?.stringValue || '',\n      }\n    });\n  }\n}\n\nconsole.log('Items processados:', items.length);\n\n// Se não encontrou nada, retornar pelo menos 1 item vazio\nif (items.length === 0) {\n  return [{\n    json: {\n      erro: 'Nenhuma venda encontrada',\n      inputData: input\n    }\n  }];\n}\n\nreturn items;"
      },
      "id": "d5b8a9fa-5b31-4930-a8c7-91f6fb14b4de",
      "name": "Processar Vendas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "// Agrupar vendas por cliente e remover duplicatas\nconst clientesMap = new Map();\n\nfor (const item of $input.all()) {\n  const venda = item.json;\n  const clienteId = venda.clienteId;\n  \n  if (!clientesMap.has(clienteId)) {\n    // Primeira venda deste cliente\n    clientesMap.set(clienteId, {\n      clienteId: clienteId,\n      provou: venda.provou,\n      vendaIds: [venda.vendaId],\n      vendas: [venda]\n    });\n  } else {\n    // Cliente já existe - adicionar vendaId\n    const cliente = clientesMap.get(clienteId);\n    cliente.vendaIds.push(venda.vendaId);\n    cliente.vendas.push(venda);\n    // Se alguma venda não provou, marca como false (enviará template de comprador)\n    if (!venda.provou) {\n      cliente.provou = false;\n    }\n  }\n}\n\n// Converter Map para array\nconst items = Array.from(clientesMap.values()).map(cliente => ({\n  json: {\n    clienteId: cliente.clienteId,\n    provou: cliente.provou,\n    vendaIds: cliente.vendaIds,\n    quantidadeVendas: cliente.vendas.length\n  }\n}));\n\nconsole.log(`${items.length} cliente(s) únicos identificados`);\nconsole.log('Agrupamento:', items);\n\nreturn items;"
      },
      "id": "agrupar-clientes-duplicados",
      "name": "Agrupar por Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        1552
      ]
    },
    {
      "parameters": {
        "url": "=https://firestore.googleapis.com/v1/projects/pos-vendas-app/databases/(default)/documents/clientes/{{$json.clienteId}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "57cfab9f-d591-44f7-bdc0-f2a2cc028847",
      "name": "Buscar Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -736,
        1552
      ],
      "credentials": {
        "googleApi": {
          "id": "Vod0HAtaFdgaKp79",
          "name": "Firebase Intimus Mel"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados do cliente e manter vendaIds do node anterior 'Agrupar por Cliente'\nconst items = [];\n\n// Pegar dados agrupados do node anterior\nconst agrupados = $node[\"Agrupar por Cliente\"].json;\nconst agrupadosArray = Array.isArray(agrupados) ? agrupados : [agrupados];\n\n// Map dos agrupados por clienteId para acesso rápido\nconst mapaAgrupados = {};\nfor (const grupo of agrupadosArray) {\n  if (grupo && grupo.clienteId) {\n    mapaAgrupados[grupo.clienteId] = grupo;\n  }\n}\n\nconsole.log('Dados agrupados disponíveis:', Object.keys(mapaAgrupados));\n\nfor (const item of $input.all()) {\n  const clienteData = item.json;\n  const fields = clienteData.fields || {};\n  \n  const nome = fields.nome?.stringValue || 'Cliente';\n  const telefone = fields.telefone?.stringValue || '';\n  const primeiroNome = nome.split(' ')[0];\n  \n  // Extrair clienteId do campo 'name'\n  let clienteId = '';\n  if (clienteData.name) {\n    clienteId = clienteData.name.split('/').pop();\n  }\n  \n  // IMPORTANTE: Recuperar vendaIds e provou do node 'Agrupar por Cliente'\n  const grupoCliente = mapaAgrupados[clienteId];\n  const vendaIds = grupoCliente?.vendaIds || [];\n  const provou = grupoCliente?.provou || false;\n  const quantidadeVendas = grupoCliente?.quantidadeVendas || 1;\n  \n  console.log(`Cliente ${clienteId}: ${vendaIds.length} venda(s)`);\n  \n  items.push({\n    json: {\n      clienteId: clienteId,\n      provou: provou,\n      nome: nome,\n      primeiroNome: primeiroNome,\n      telefone: telefone,\n      vendaIds: vendaIds,\n      quantidadeVendas: quantidadeVendas\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "001f9e73-4322-4bde-bfee-3f50c0d590e0",
      "name": "Extrair Dados Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        1552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e80e7400-48b2-485a-9844-e76550709dd8",
              "leftValue": "={{$json.provou}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cbb8b457-639f-4b65-ab1b-88b55eff780d",
      "name": "Cliente Provou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop por cada vendaId e criar requisição para atualizar cada um\nconst items = [];\nconst vendaIds = $json.vendaIds || [];\n\nfor (const vendaId of vendaIds) {\n  items.push({\n    json: {\n      vendaId: vendaId,\n      clienteId: $json.clienteId,\n      primeiroNome: $json.primeiroNome,\n      telefone: $json.telefone,\n      quantidadeVendas: vendaIds.length\n    }\n  });\n}\n\nconsole.log(`Atualizando ${items.length} venda(s) para cliente ${$json.clienteId}`);\n\nreturn items;"
      },
      "id": "loop-vendas-atualizar",
      "name": "Loop Vendas para Atualizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        1552
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/pos-vendas-app/databases/(default)/documents/vendas/{{$json.vendaId}}?updateMask.fieldPaths=status&updateMask.fieldPaths=dataEnvio",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \"fields\": {     \"status\": {       \"stringValue\": \"enviado\"     },     \"dataEnvio\": {       \"timestampValue\": \"{{$now.toISO()}}\"     }   } }",
        "options": {}
      },
      "id": "2f38deea-dc48-4d88-8a39-516faee1f28b",
      "name": "Atualizar Status Venda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        512,
        1552
      ],
      "credentials": {
        "googleApi": {
          "id": "nNpmO1XbzLo2GSd1",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "TESTE",
        "remoteJid": "=55{{ $json.telefone }}",
        "messageText": "=Oi {{ $json.primeiroNome }}! 😊\n\nVi que você passou na loja e provou algumas peças mas não levou nada... 😊\nQueria saber: teve algo que você gostou mas ficou em dúvida? Posso te ajudar com alguma informação?\n\nEstou à disposição! 💕\n*Intimus Mel* 🐝 Moda Íntima Feminina",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -160,
        1440
      ],
      "id": "0f69bd28-ce78-4ba7-b8ce-c38c5aea65c2",
      "name": "Enviar - Provou1",
      "credentials": {
        "evolutionApi": {
          "id": "rJcvXlJV0Y1MBVDI",
          "name": "evolution_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "preserve-venda-ids-provou",
              "name": "vendaIds",
              "value": "={{$node[\"Extrair Dados Cliente\"].json.vendaIds}}",
              "type": "array"
            },
            {
              "id": "preserve-cliente-id-provou",
              "name": "clienteId",
              "value": "={{$node[\"Extrair Dados Cliente\"].json.clienteId}}",
              "type": "string"
            },
            {
              "id": "preserve-primeiro-nome-provou",
              "name": "primeiroNome",
              "value": "={{$node[\"Extrair Dados Cliente\"].json.primeiroNome}}",
              "type": "string"
            },
            {
              "id": "preserve-telefone-provou",
              "name": "telefone",
              "value": "={{$node[\"Extrair Dados Cliente\"].json.telefone}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10,
        1440
      ],
      "id": "preserve-provou-data",
      "name": "Preservar Dados - Provou"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "TESTE",
        "remoteJid": "=55{{ $json.telefone }}",
        "messageText": "=Oi {{ $json.primeiroNome }}! 😊\n\nObrigada por ter vindo na loja ontem! Espero que tenha adorado sua compra! 💕\n\nQualquer dúvida ou se precisar de algo, pode me chamar aqui no WhatsApp, tá?\n\nJá vou te adicionar nos nossos contatos para te avisar quando chegarem novidades!\n\nVolte sempre! 🛍️",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -160,
        1648
      ],
      "id": "eb0c299d-3f54-4b27-adf9-8fcf35d00d13",
      "name": "Enviar - Comprou Direto1",
      "credentials": {
        "evolutionApi": {
          "id": "rJcvXlJV0Y1MBVDI",
          "name": "evolution_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "preserve-venda-ids-comprou",
              "name": "vendaIds",
              "value": "={{$node[\"Extrair Dados Cliente\"].json.vendaIds}}",
              "type": "array"
            },
            {
              "id": "preserve-cliente-id-comprou",
              "name": "clienteId",
              "value": "={{$node[\"Extrair Dados Cliente\"].json.clienteId}}",
              "type": "string"
            },
            {
              "id": "preserve-primeiro-nome-comprou",
              "name": "primeiroNome",
              "value": "={{$node[\"Extrair Dados Cliente\"].json.primeiroNome}}",
              "type": "string"
            },
            {
              "id": "preserve-telefone-comprou",
              "name": "telefone",
              "value": "={{$node[\"Extrair Dados Cliente\"].json.telefone}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10,
        1648
      ],
      "id": "preserve-comprou-data",
      "name": "Preservar Dados - Comprou"
    }
  ],
  "pinData": {},
  "connections": {
    "Agendar 9h Diariamente": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Processar Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Vendas": {
      "main": [
        [
          {
            "node": "Agrupar por Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar por Cliente": {
      "main": [
        [
          {
            "node": "Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente": {
      "main": [
        [
          {
            "node": "Extrair Dados Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados Cliente": {
      "main": [
        [
          {
            "node": "Cliente Provou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Provou?": {
      "main": [
        [
          {
            "node": "Enviar - Provou1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar - Comprou Direto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar - Provou1": {
      "main": [
        [
          {
            "node": "Preservar Dados - Provou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preservar Dados - Provou": {
      "main": [
        [
          {
            "node": "Loop Vendas para Atualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar - Comprou Direto1": {
      "main": [
        [
          {
            "node": "Preservar Dados - Comprou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preservar Dados - Comprou": {
      "main": [
        [
          {
            "node": "Loop Vendas para Atualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Vendas para Atualizar": {
      "main": [
        [
          {
            "node": "Atualizar Status Venda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status Venda": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f54b6e0e-c04e-4d48-ad04-accb896c0e6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d456639c72d8dd788e18d0ad42fcff3a3138a9ee3a7230d9febd93a2aa561a0"
  },
  "id": "K1Cqx0uZxZTqFspU",
  "tags": [
    {
      "updatedAt": "2026-02-07T13:57:45.771Z",
      "createdAt": "2026-02-07T13:57:45.771Z",
      "id": "YjmC4Q6cYP8w3XTm",
      "name": "Intimus Mel"
    }
  ]
}